* {
	box-sizing: border-box;
}
html, body{
	margin: 0;
	font-size: 16px;
	height: 100%;
	background-color: #fafafa;
}
h1,h2,h3,h4,h5,h6{
	font-family: "Montserrat", sans-serif;
	color: #2e2e2e;

}
h1,a{
	font-size: 3em;
}
p{
	font-family: "Montserrat", sans-serif;
	color: #2a2a2a;
	line-height: 2em;
}
a{
	color: #7E598C;
	text-decoration: underline;
	font-weight: bold;
}
a:hover{
	color: #643A75;
}
#intro{
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
